//COLORS
$primary-color: #383838;
$secondary-color: #FFC935;
$portrait-background: #FFF;
$title-light: #FFF;
$chart-background: #cccccc;
$access-denied: rgb(206, 0, 0);
$access-granted: rgb(0, 168, 0);

//TYPOGRAPHY
$roboto: 'Roboto', sans-serif;

//MEDIA QUERY BREAKPOINTS
$large: 870px;
$medium: 740px;
$small: 410px;
